.note-textarea {
	width: 100%;
	border-radius: 8px;
}
.add-form {
	display: flex;
	flex-direction: row;
	margin-bottom: 8px;
	text-align: start;
}
.commit-button {
	background-color: #67a4ff;
	border-radius: 8px;
}
