.note-card {
	display: flex;
	flex-direction: row;
	margin-bottom: 8px;
	text-align: start;
}

.user-img {
	width: 40px;
	height: 40px;
	margin-right: 16px;
	object-fit: cover;
	border-radius: 50%;
}
.user-name {
	display: block;
	font-size: 1.3rem;
	font-weight: 500;
	line-height: 1.8rem;
	color: #030303;
}
.user-content {
	font-size: 14px;
	font-family: sans-serif;
}
